name: run-toscatoolbox
run-name: ${{ github.actor }} - syntax checking
on: [push]
jobs:
  syntax-checking:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - uses: docker-practice/actions-setup-docker@master
        timeout-minutes: 12
      - name: Get Orange-OpenSource/Cloudnet-TOSCA-toolbox code from github
        run: |
          # Get Orange-OpenSource/Cloudnet-TOSCA-toolbox code from github
          git clone https://github.com/Orange-OpenSource/Cloudnet-TOSCA-toolbox.git
          cd Cloudnet-TOSCA-toolbox/bin
          bash ./build.sh
      - name: Load cloundnet commands and Launch syntax checking in the directory example
        run: |
          # Define colors
          normal="\033[0;"
          bold="\033[1;"
          red="31m"
          green="32m"
          yellow="33m"
          blue="34m"
          magenta="35m"
          cyan="36m"
          white="37m"
          reset="\033[m"

          # Load cloundnet commands.
          # Guess where is located the software
          CLOUDNET_BINDIR="$PWD"
          Continue=1
          while [ $Continue -eq 1 ]
          do
            CLOUDNET_RC=$(find "$CLOUDNET_BINDIR" -name cloudnet_rc.sh)
            if [ -z "${CLOUDNET_RC}" ]
            then
              CLOUDNET_BINDIR="${CLOUDNET_BINDIR}/.."
            else
              CLOUDNET_BINDIR=$(dirname "${CLOUDNET_RC}")
              Continue=0
            fi
          done
          source "${CLOUDNET_BINDIR}/cloudnet_rc.sh"

          # Launch syntax checking in the directory example
          cd example
          _LOG=$(basename "$PWD")_BATCH_MODE-$(date +%F_%H-%M-%S).log
          echo "Log file name : ${_LOG}"
          for filename in $(find . -not -path "./${DeclarativeWorkflows_target_directory}/*" -iname '*.yaml' -o -iname '*.yml' | xargs grep -l 'tosca_definitions_version:') $(find . -iname '*.csar' -o -iname '*.zip')
            do
              echo -e "\n${normal}${magenta}    $(echo $filename | tr [a-z] [A-Z]) ${reset}" | tee -a ${_LOG}
              translate "$filename" 2>&1 | tee -a "${_LOG}"
            done
          echo "_LOG=example/${_LOG}" >> $GITHUB_ENV
          if grep -q "ERROR" ${_LOG}; then
            echo "Here we are"
            exit 0
          else
            echo "No we are here"
            exit 1
          fi
      - name: Archive production artifacts
        uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          name: log file of the syntax checking
          path: ${{ env._LOG }}
          retention-days: 5
            